.events-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-transform: capitalize;

}
.events{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
margin-bottom: 30px;

}
.event-leftSide{
  
    display: flex;
    flex-direction: column;
    flex:50%;
    height: 800px;
    background-color:#0477BF;
 color: #ffffff;
}
.event-rightSide{
    display: flex;
    flex-direction: column;
    flex:50%;
    height: 600px;
padding: 0 20px 0 30px;

}
.event_btn{
    width: 130px;
    height: 50px;
    background-color: #ff5202;
    border: 1px solid  #ff5202;
    border-radius: 10px;
}
.eventTime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.leftsideOfEvent_date{
    display: flex;
    flex-direction:column;
    flex: 30%;
    background-color: #0477BF;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 250px;
    border: 1px solid #3CA6A6;
    border-radius: 10px;
    flex-wrap: nowrap;

}
.rightsideOfEvent_date{
    display: flex;
    flex-direction:column;

    flex: 70%;
    padding: 10px;
    flex-wrap: nowrap;
    height: 180px;
}
@media  only screen and (max-width:600px) {
    .rightsideOfEvent_date p{
        font-size: 12px;
    }  
    
}
.conatinerofEventDate{
    display: flex;
    flex-direction: row;
    justify-content: center;
  margin: 10px;
}